.link-card{
    text-decoration: none;
    color: black;
    @include flexRow(12px);
    padding: 8px;
    border: 1px solid var(--gray-200);
    border-radius: 4px;
    margin-bottom: 8px;
    &:hover{
        transition: 0.1s ease-in-out;
        background-color: var(--gray-100);
    }
    &__img{
        border-radius: 4px;
    }
    &__title{
        @include section-small;
        margin-bottom: 2px;
    }
    &__desc{
        @include body-x-small;
        text-transform: lowercase;
    }
}