.main{
    margin-left: 368px;
}

.section{
    padding: 32px 24px 48px 24px;
    border-bottom: 1px solid var(--gray-200);
    &__title{
        @include h1;
        margin-bottom: 23px;
    }
    &--top{
        padding-top: 16px;
        padding-bottom: 24px;
    }
    &--tools{
        display: flex;
        flex-direction: column;
        gap: 32px;
        .tools{
            &__title{
                @include section-small;
                margin-bottom: 8px;
            }
            &__ul{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 8px;
            }
            &__li{
                background-color: var(--gray-100);
                list-style: none;
                padding: 4px 8px;
                border-radius: 4px;
                white-space: nowrap;
                @include body-regular;
            }
        }
        @media screen and (max-width: 992px) {
            gap: 24px;
            flex-direction: column;
        }
    }
}