.project-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 0.5px solid var(--gray-100);
}

.project-card{
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-decoration: none;
    color: var(--black);
    padding: 16px;
    border: 0.5px solid var(--gray-100);
    &__img{
        height: 200px;
        background-color: var(--gray-200);
    }
    &__num{
        @include section;
        color: var(--primary);
        margin-bottom: 4px
    }
    &__title{
        @include h2;
        margin-bottom: 8px;
        display: inline-block;
    }
    &__desc{
        @include body-small
    }
    &__info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 120px;
        margin: auto 0;
    }
    &__chips{
        @include flexRow
    }
    &__chip{
        @include flexRow(4px);
        padding: 4px 8px;
        margin-right: 8px;
        border-radius: 4px;
        background-color: var(--gray-100);
        text-decoration: none;
    }
    &__chip-label{
        @include chip;
        color: var(--gray-400);
    }
    &__arrow{
        margin-left: 4px;
        margin-bottom: -4px;
    }
    &:hover{
        transition: 0.1s ease-in-out;
        & .project-card__arrow{
            fill: var(--primary);
            transform: translateX(4px) translateY(-2px);
            transition: 0.1s ease-in;
        }
        & .project-card__img{
            border-radius: 16px;
            transition: 0.08s ease-in;
        }
    }
}