.side-nav{
    height: 100%;
    width: 320px;
    padding: 16px 24px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--white);
    border-right: 1px solid var(--gray-200);
    @media screen and (max-width: 768px) {
        position: static;
        border: none;
        height: min-content;
        width: auto;
        padding: 16px;
    }
    &__top{
        margin-bottom: 8px;
        @include flexRow();
        @media screen and (max-width: 768px) {
            width: 100%;
            padding: 12px 16px;
            margin-bottom: 24px;
            box-sizing: border-box;
            position: fixed;
            justify-content: space-between;
            top: 0;
            left: 0;
            z-index: 3;
            background-color: var(--white);
        }
    }
    &__intro{
        @include body-x-small;
        margin-bottom: 24px;
        @media screen and (max-width: 768px) {
            @include body-regular;
            margin-top: 48px;
            margin-bottom: 0;
        }
    }
    &__links{
        @media screen and (max-width: 768px) {
            display: none;
        }
        &--display{
            .site-links{
                display: none;
            }
            @media screen and (max-width: 768px) {
                display: block;
                position: fixed;
                top: 24px;
                left: 0;
                bottom: 0;
                padding: 24px;
                box-sizing: border-box;
                width: 100%;
                background-color: var(--white);
                z-index: 2;
            }
        }
    }
    &__section{
        @include section-small;
        margin-top: 24px;
        margin-bottom: 8px;
    }
    &__theme{
        @include flexRow(4px);
        position: fixed;
        bottom: 24px;
        background-color: var(--gray-100);
        padding: 4px 8px;
        border-radius: 4px;
        transition: all .2s ease-in-out;
        &:hover{
            cursor: pointer;
            transform: scale(1.08);
            background-color: var(--gray-200);
        }
        .theme__icon{
            fill: var(--gray-400);
        }
        .theme__text{
            @include section-small;
            color: var(--gray-400);
        }
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    &__icons{
        display: none;
        position: static;
        @media screen and (max-width: 768px) {
            @include flexRow(16px)
        }
        .theme__icon{
            fill: var(--gray-400);
            &:hover{
                cursor: pointer;
            }
        }
    }
}