@import './mixins';
@import './link-card';
@import './project-card';
@import './side-nav';
@import './footer';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Source+Code+Pro:ital,wght@0,600;1,600&display=swap');

:root{
    --h1: 1.25rem;
    --h2: 1.25rem;
    --section: 1rem;
    --section-small: 0.88rem;
    --chip: 0.8125rem;
    --body-regular: 1rem;
    --body-small: 0.88rem;
    --body-x-small: 0.8125rem;

    --white: #f9f9f9;
    --gray-100: #f2f2f2;
    --gray-200: #dddddd;
    --gray-300: #808080;
    --gray-400: #555555;
    --black: #111111;
    --primary: #f93889;
}
.dark{
    --white: #222222;
    --gray-100: #373737;
    --gray-200: #5b5b5b;
    --gray-300: #bbbbbb;
    --gray-400: #cccccc;
    --black: #f8f8f8;
    --primary: #EC3D87;
}

* { 
    margin: 0; 
    padding: 0; 
    font-family: 'Poppins', sans-serif;
    color: var(--black);
}

body{
    background-color: var(--white);
}

p{
    @include body-regular
}

.main{
    margin-left: 372px;
    .section{
        padding: 32px 48px 48px 32px;
        border-bottom: 1px solid var(--gray-200);
        &__title{
            @include h1;
            margin-bottom: 24px;
        }
    }
    .section--top{
        padding-top: 16px;
    }
    .section--tools{
        @include flexRow(140px, 'top');
        .tools{
            &__title{
                @include section;
                margin-bottom: 8px;
            }
            &__li{
                list-style: none;
                @include body-regular;
            }
        }
    }
    .section--about{
        @include flexRow(48px);
        &__image{
            width: 320px;
            border-radius: 8px;
        }
        &__title{
            @include section;
            margin-bottom: 8px;
        }
    }
}
